[mysqld]
server-id=2
log-bin=mysql-bin
datadir=/var/lib/mysql/
binlog-format=ROW
gtid-mode=ON
enforce-gtid-consistency=ON
log-slave-updates=ON
master-info-repository=TABLE
report-host=mysql-slave-1
report-port=3306